header#header {
  z-index: 1;
  background: var(--dark-color);
}

header .input-box {
  min-width: 40vw;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  -webkit-filter: invert(1);
  filter: invert(1);
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}
.auth-button {
  padding: 0.5rem 0.8rem;
  border-radius: 2rem;
  font-size: 0.9rem;
}
@media screen and (max-width: 450px) {
  header .hide {
    display: none;
  }
}
